<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>

    <nav class="navbar navbar-dark bg-primary" style="background-color: #e3f2fd; width: 100%">
        <!-- Navbar content -->
        <a class="navbar-brand">
            <img src="/static/logoIot.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <label style="font-style: italic;color: aliceblue"> Internet of Things </label>
        </a>
        <a class="navbar-brand">
            <label style="font-style: italic;color: aliceblue"> Bem vindo </label>
        </a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>

    </nav>
    <!--
    <div class="container">
        <div class="row">
            <div class="col-sm col-md col-lg">
                {% for your_list_element in lista_data%}
                {{your_list_element}}
                {% endfor %}
            </div>
            <div class="col-sm col-md col-lg">
                {% for your_list_element in types%}
                {{your_list_element}}
                {% endfor %}
            </div>
            <div class="col-sm col-md col-lg">
                {% for your_list_element in datas%}
                {{your_list_element}}
                {% endfor %}
            </div>
        </div>
    </div>-->
    <!--
    <div class="divContent">
        <div class="row mb-5">
            <div class="col-sm col-lg col-md col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/nodemcu.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Dispositivo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's
                            content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <a href="#"> Training </a> </li>
                        <li class="list-group-item"> <a href="#"> Check data </a> </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>-->

    <div class="container">
        <div class="row-6">
            <div class="col-sm">
                <form action="/overview" , method="POST">
                    <div class="form-group">

                        <label for="firebaseurl">Firebase Url</label>
                        <input class="form-control" id="firebaseurl" name="firebaseurl" aria-describedby="emailHelp"
                            placeholder="Enter Url" required="true">

                        <label for="idesp">Identificação do Dispositivo</label>
                        <input class="form-control" id="idesp" name="idesp" aria-describedby="emailHelp"
                            placeholder="Exemplo: temperatura" required="true">

                        <label for="atributoalvo">Atributo Alvo</label>
                        <input class="form-control" id="atributoalvo" name="atributoalvo" aria-describedby="emailHelp"
                            placeholder="Exemplo: temperatura" required="true">

                        <label for="independentVariables">Variáveis Independentes</label>
                        <input class="form-control" id="independentVariables" name="independentVariables"
                            placeholder="Exemplo: umidade, PH" required="true">

                    </div>
                    <label for="item"> Selecionar Algoritmo </label> <br>
                    <select name="item" id="item" style="width: 100%; margin-bottom: 10px">
                        <option> Regressão Linear </option>
                        <option> SVM (Máquina de Vetores de Suporte) </option>
                        <option> Rede Neural </option>
                    </select>
                    <button type="submit" class="btn btn-warning" style="width: 100%">Training</button>
                </form>
            </div>
        </div>
    </div>

    {% if u %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="mr-auto">Modo de Operação</strong>
            <small class="text-muted">Agora</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            {{u}}
        </div>
    </div>
    {% endif %}
</body>

</html>

<script>
    function redirectCadastrarLayout() {
        window.location.href = "http://127.0.0.1:5000/";
        window.location.assign("http://127.0.0.1:5000/");
    }
</script>